.container {
  display: block;
  background-color: var(--gray-800);
  background-image: linear-gradient(var(--gray-800), transparent), url("../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}