section.journey-container {
  
  .journey-content {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    .first-step,
    .second-step {
      width: 50vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .step-description {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
          font-family: "Poppins";
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: bold;
          color: var(--white-100);
          margin-bottom: 2rem;
        }

        h1,
        strong {
          font-family: "Inter";
          font-size: 2rem;
        }

        strong {
          color: var(--primary);
        }
      }
    }

    .second-step {
      text-align: right;

      h1 {
        justify-self: flex-end;
      }
    }
  }
}