.services-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  article {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    justify-content: space-evenly;
    gap: 2rem;
  }
}