.services-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  span {
    font-size: 0.8rem;
    color: var(--gray-300);
    font-family: "Poppins";
    text-transform: uppercase;
    margin: 2rem 0;
  }

  h1.service-heading {
    font-size: 2rem;
    color: var(--white);
    font-family: "Inter";
  }

  article {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    justify-content: space-evenly;
    gap: 2rem;
  }
}